<section class="peoplepage">
    <div class="search">
    <h1>Team Directory</h1>
    <label>search: </label>
    <input ng-model="query" placeholder="Search" autofocus>

    <label class="formgroup">by:
      <select ng-model="teamOrder">
        <option value="name">Name</option>
        <option value="role">role</option>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>
   
  </div>
  <ul class="team" ng-show="query">
    <li ng-repeat="person in people | filter: query | orderBy: teamtOrder:direction">
        <div class="info">
          <h2>{{person.name}}</h2>
          <h3>{{person.age}}</h3>
          <h3>{{person.role}}</h3>
        </div>
      </a>
    </li>
  </ul>  
</section>